h1 {
    text-align: center;
}

body {
    background-color: #010409;
    color: white;
    font-family: monospace;

}

input {
    background-color: lightslategray;
    border-radius: 4px;
    width: 350px;
    height: 20px;
    color: white;
}
::placeholder {
    color: #fdfafa;
}

#btn-login {
    border-radius: 4px;
    background-color: blueviolet;
    color: white;
    height: 25px;
}

#contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
